<div class="form">
  <%= form_for(@club) do |f| %>

      <%= render 'locations/add_location' %>

      <div id="location">
      </div>

      <div class="field">
        <h3><%= f.label 'Название секции' %><br></h3>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <h3><%= f.label 'Категория' %><br></h3>
        <%= collection_radio_buttons(:club, :club_type_id, ClubType.all, :id, :name) %>
      </div>

      <div class="field">
        <h3><%= f.label 'Описание' %><br></h3>
        <%= f.text_area :description %>
      </div>

      <div class="field">
        <h3><%= f.label 'Стоимость' %></h3><br>
        <%= f.text_field :price %>
      </div>

      <div class="field">
        <h3><%= f.label 'Контактный номер' %></h3><br>
        <%= f.text_field :phone %>
      </div>

      <div class="actions">
        <%= f.submit 'ОК'%>
      </div>
  <% end %>
</div>