<h1>Новое сообщение</h1>
<%= form_for @message do |f| %>

  <p>
    Кому: <%= @recipient.name %>
    <%= f.hidden_field :recipient_id, value: @recipient.id %>
  </p>

  <p>Тема: <%= f.text_field :subject %></p>
  <p>Текст сообщения:<br /> <%= f.text_area :body %></p>
  <p><%= submit_tag "Отправить" %></p>
<% end %>