<div>
  <b>Логин:</b> <%= @user.name %><br/>
  <%= image_tag (@user.avatar_url), width: '100', height: '' %><br/>
  <b>Полное имя:</b> <%= @user.full_name %><br/>
  <b>Email:</b>
  <% if @user.email_confirmed? %>
    <%= @user.email %>
  <% elsif @user == current_user %>
    <%= @user.email %>
        <span style="font-size: 12px">
          <u>Внимание! Ваш адрес электронной почты не подтверждён.</u>
          <%= link_to 'Отправить письмо повторно', user_send_email_confirmation_path(user_id: @user.id), method: :post %>
        </span>
  <% end %>
  <br/>
  <b>О себе:</b> <%= @user.about %><br/>
  <b>Номер телефона:</b> <%= @user.phone %><br/>
  <b>Скайп:</b> <%= @user.skype %><br/>
  <b>Друзья:</b>
    <% if @user.friends.any? %>
      <% @user.friends.each do |friend| %>
        <%= link_to friend.name, user_path(friend) %>
      <% end %>
    <% else %>
      У пользователя нет друзей
    <% end %>
  <br/>
  <%= link_to 'Добавить в друзья', friendships_path(friend_id: @user.id), method: :post if user_can_add_to_friends %>
  <%= link_to 'Удалить из друзей', friendship_path(friend_id: @user.id), method: :delete if user_can_remove_from_friends %>
  <%= link_to 'Отправить сообщение', new_message_path(recipient_id: @user.id) %>
</div>
<%= link_to 'Редактировать профиль', edit_user_path if current_user == @user %>