<div>
  <%= render 'locations/show_location' %>
  <b>Название секции:</b> <%= @event.name %><br/>
  <b>Категория:</b> <%= @event.type.name %><br/>
  <b>Описание:</b> <%= @event.description %><br/>
  <b>Начало в :</b> <%= @event.begins_at.strftime("%H:%M %m.%d.%Y") %><br/>
  <b>Контактный номер:</b> <%= @event.phone %><br/>
  <b>Добавил:</b> <u><%= link_to @event.author.name, @event.author %></u><br/>
</div>
<%= link_to 'Редактировать событие', edit_event_path if current_user == @event.author || current_user.admin? %>

<%= render 'comments/form' %>
<%= render 'comments/comments' %>