
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<div id="map" style="height: 400px; width: 600px"></div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    var name = '<%= @locationable.name %>';
    var latlng = <%= [@locationable.location.latitude, @locationable.location.longitude] %>;
    var type = '<%= @locationable.type.name %>';

    // var locationable = {
        // name: '<%= @locationable.name %>',
        // location: [@locationable.location.latitude, @locationable.location.longitude],
        // type: '<%= @locationable.type.name %>'
    // }

    $(document).ready(showLocation());
    $(document).on('page:load page:change', showLocation());

</script>

<div id="location"></div>