
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<div id="map" style="height: 400px; width: 600px"></div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    var mapTitle = '<%= @map_title %>';
    var markersArray = [];

    <% @locationables.each do |locationable| %>
        var marker = {
            latlng: <%= [locationable.location.latitude, locationable.location.longitude] %>,
            popup: "<b><a href='<%= if params[:controller] == 'clubs' then club_path(locationable) else event_path(locationable) end %>'><%= locationable.name %></a></b><br/>Категория: <%= locationable.type.name %>"
            }
        markersArray.push(marker);
    <% end %>

    $(document).ready(showMap());
    $(document).on('page ready page:ready page:load page:update page:change', showMap());

</script>

<div id="location"></div>