
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<div id="map" style="height: 400px; width: 600px"></div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    function showMap(){
        var map = L.map('map').setView([49.437820, 32.058959], 13);
        L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '<%= @map_title %>',
            id: 'examples.map-i875mjb7'
        }).addTo(map);

        <% @locationables.each do |locationable| %>
        L.marker(<%= [locationable.location.latitude, locationable.location.longitude] %>).addTo(map)
                .bindPopup("<b><a href='<%= if params[:controller] == 'clubs' then club_path(locationable) else event_path(locationable) end %>'><%= locationable.name %></a></b><br/>Категория: <%= locationable.type.name %>");
        <% end %>
    }

    $(document).ready(showMap());
    $(document).on('page:load page:change', showMap());

</script>

<div id="location"></div>