<!DOCTYPE html>
<html>
<head>
  <title>Sportevents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3><%= link_to 'На главную', root_path %></h3>

<% if flash[:notice].present? %>
    <span style="color: green; "><b><%= flash[:notice]%></b></span><br/>
<% end  %>

<% if flash[:alert].present? %>
    <span style="color: red; "><b><%= flash[:alert]%></b></span><br/>
<% end  %>

<%= yield %>

</body>
</html>
